<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.MyPageLearningMapper">

    <!-- 마이페이지 학습현황 조회: 시작했지만 아직 완료하지 않은 학습/퀴즈 -->
    <select id="selectLearningStatusListByUserId" parameterType="Long" resultType="MyPageLearningStatusResponseDTO">
        SELECT STATUS.eduId, STATUS.eduTitle, STATUS.progress, STATUS.studyTime, STATUS.recentStudyAt, STATUS.learningType
        FROM (
                SELECT
                    TE.ID AS eduId,
                    TE.EDU_TITLE AS eduTitle,
                    CASE
                        WHEN COUNT(DISTINCT TEWM.ID) = 0 THEN 0
                        ELSE ROUND(
                                COUNT(DISTINCT CASE WHEN TWS.WORD_STUDY_IS_COMPLETED = 1 THEN TEWM.ID END)
                                / COUNT(DISTINCT TEWM.ID) * 100
                            )
                        END AS progress,
                        NVL(
                            ROUND(
                                (
                                    CAST(NVL(MAX(TWS.WORD_STUDY_UPDATE_AT), SYSDATE) AS DATE)
                                    - CAST(TES.EDU_START_AT AS DATE)
                                ) * 24 * 60 * 60
                            ),
                            0
                        ) AS studyTime,
                        CAST(MAX(NVL(TWS.WORD_STUDY_UPDATE_AT, TES.EDU_START_AT)) AS TIMESTAMP) AS recentStudyAt,
                        'LEARN' AS learningType
                FROM TBL_EDU_START TES
                        JOIN TBL_EDU TE
                            ON TES.EDU_ID = TE.ID
                        JOIN TBL_EDU_WORD_MAP TEWM
                            ON TE.ID = TEWM.EDU_ID
                        LEFT JOIN TBL_WORD_STUDY TWS
                                ON TEWM.ID = TWS.EDU_WORD_MAP_ID
                                    AND TWS.USER_ID = TES.USER_ID
                                    AND AND TWS.USER_ID = TES.USER_ID
                                    AND TWS.WORD_STUDY_UPDATE_AT >= TES.EDU_START_AT
                WHERE TES.USER_ID = #{userId}
                    AND TE.EDU_IS_DELETED = 0
                    AND TES.EDU_START_IS_COMPLETED = 0
                    AND TES.ID = (
                        SELECT MAX(TES2.ID)
                        FROM TBL_EDU_START TES2
                        WHERE TES2.USER_ID = TES.USER_ID
                            AND TES2.EDU_ID = TES.EDU_ID
                            AND TES2.EDU_START_IS_COMPLETED = 0
                    )
                GROUP BY TE.ID, TE.EDU_TITLE, TES.EDU_START_AT
                HAVING COUNT(DISTINCT CASE WHEN TWS.WORD_STUDY_IS_COMPLETED = 1 THEN TEWM.ID END) &lt; COUNT(DISTINCT TEWM.ID)

                UNION ALL

                SELECT
                    TQ.ID AS eduId,
                    TQ.QUIZ_TITLE AS eduTitle,
                    0 AS progress,
                    ROUND((CAST(SYSDATE AS DATE) - CAST(TQS.QUIZ_START_AT AS DATE)) * 24 * 60 * 60) AS studyTime,
                    CAST(TQS.QUIZ_START_AT AS TIMESTAMP) AS recentStudyAt,
                    'QUIZ' AS learningType
                FROM TBL_QUIZ_START TQS
                         JOIN TBL_QUIZ TQ
                              ON TQS.QUIZ_ID = TQ.ID
                WHERE TQS.USER_ID = #{userId}
                  AND NOT EXISTS (
                    SELECT 1
                    FROM TBL_QUIZ_ATTEMPT TQA
                    WHERE TQA.USER_ID = TQS.USER_ID
                      AND TQA.QUIZ_ID = TQS.QUIZ_ID
                      AND TQA.QUIZ_ATTEMPT_CREATE_AT > TQS.QUIZ_START_AT
                )
            ) STATUS
        ORDER BY STATUS.recentStudyAt DESC, STATUS.eduId ASC
    </select>

    <!-- 마이페이지 학습결과 조회: 완료된 학습과 챕터 퀴즈 응시 결과를 함께 조회 -->
    <select id="selectLearningResultListByUserId" parameterType="Long" resultType="MyPageLearningResultResponseDTO">
        SELECT RESULT.quizAttemptId, RESULT.quizId, RESULT.quizTitle, RESULT.correctCount, RESULT.totalCount,
               RESULT.spentTime, RESULT.accuracy, RESULT.quizAttemptCreateAt, RESULT.resultType, RESULT.resultPath
        FROM (
            SELECT
                TES.ID AS quizAttemptId,
                TE.ID AS quizId,
                TE.EDU_TITLE AS quizTitle,
                COUNT(DISTINCT CASE WHEN TWS.WORD_STUDY_IS_COMPLETED = 1 THEN TEWM.ID END) AS correctCount,
                5 AS totalCount,
                NVL(
                    ROUND(
                        (
                            CAST(MAX(TWS.WORD_STUDY_UPDATE_AT) AS DATE)
                            - CAST(TES.EDU_START_AT AS DATE)
                        ) * 24 * 60 * 60
                    ),
                    0
                ) AS  spentTime,
                CASE
                    WHEN COUNT(DISTINCT CASE WHEN TWS.WORD_STUDY_IS_COMPLETED = 1 THEN TEWM.ID END) > 5 THEN 100
                    ELSE ROUND(COUNT(DISTINCT CASE WHEN TWS.WORD_STUDY_IS_COMPLETED = 1 THEN TEWM.ID END) / 5 * 100)
                END AS accuracy,
                CAST(MAX(TWS.WORD_STUDY_UPDATE_AT) AS TIMESTAMP) AS quizAttemptCreateAt,
                'LEARN' AS resultType,
                '/study/learn' AS resultPath
            FROM TBL_EDU_START TES
                    JOIN TBL_EDU TE
                        ON TES.EDU_ID = TE.ID
                    JOIN TBL_EDU_WORD_MAP TEWM
                        ON TE.ID = TEWM.EDU_ID
                    LEFT JOIN TBL_WORD_STUDY TWS
                              ON TEWM.ID = TWS.EDU_WORD_MAP_ID
                                AND TWS.USER_ID = TES.USER_ID
            WHERE TES.USER_ID = #{userId}
                AND TE.EDU_IS_DELETED = 0
                AND TES.EDU_START_IS_COMPLETED = 1
            GROUP BY TES.ID, TE.ID, TE.EDU_TITLE, TES.EDU_START_AT
            HAVING COUNT(DISTINCT TEWM.ID) > 0

            UNION ALL

            SELECT
                TQA.ID AS quizAttemptId,
                TQ.ID AS quizId, TQ.QUIZ_TITLE AS quizTitle,
                TQA.QUIZ_ATTEMPT_SCORE AS correctCount, TQA.QUIZ_ATTEMPT_TOTAL_COUNT AS totalCount, TQA.QUIZ_ATTEMPT_TIME AS spentTime,
                CASE
                    WHEN TQA.QUIZ_ATTEMPT_TOTAL_COUNT = 0 THEN 0
                    ELSE ROUND(TQA.QUIZ_ATTEMPT_SCORE / TQA.QUIZ_ATTEMPT_TOTAL_COUNT * 100)
                END AS accuracy,
                CAST(TQA.QUIZ_ATTEMPT_CREATE_AT AS TIMESTAMP) AS quizAttemptCreateAt,
                'QUIZ' AS resultType,
                CASE TQ.ID
                    WHEN 1 THEN '/study/chapter/sign-history/result'
                    WHEN 2 THEN '/study/chapter/sos/result'
                    WHEN 3 THEN '/study/chapter/morse/result'
                    ELSE '/study/chapter'
                    END AS resultPath
            FROM TBL_QUIZ_ATTEMPT TQA
                     JOIN TBL_QUIZ TQ
                          ON TQA.QUIZ_ID = TQ.ID
            WHERE TQA.USER_ID = #{userId}
        ) RESULT
        ORDER BY RESULT.quizAttemptCreateAt DESC, RESULT.quizAttemptId DESC
    </select>


    <!-- 마이페이지 학습요약 조회: 학습 완료 기록과 챕터 퀴즈 응시 기록을 함께 집계 -->
    <select id="selectLearningSummaryByUserId" parameterType="Long" resultType="MyPageLearningSummaryResponseDTO">
        SELECT
            CASE
                WHEN SUM(SUMMARY_DATA.totalCount) = 0 THEN 0
                ELSE ROUND(
                        SUM(SUMMARY_DATA.correctCount)
                        / SUM(SUMMARY_DATA.totalCount) * 100
                )
            END AS totalAccuracy,
            NVL(SUM(SUMMARY_DATA.correctCount), 0) AS totalQuestionCount,
            NVL(SUM(SUMMARY_DATA.spentTime), 0) AS totalStudyTime
        FROM (
             SELECT
                 COUNT(DISTINCT CASE WHEN TWS.WORD_STUDY_IS_COMPLETED = 1 THEN TEWM.ID END) AS correctCount,
                 5 AS totalCount,
                 NVL(
                    ROUND(
                        (
                            CAST(NVL(MAX(TWS.WORD_STUDY_UPDATE_AT), SYSDATE) AS DATE)
                            - CAST(TES.EDU_START_AT AS DATE)
                        ) * 24 * 60 * 60
                    ),
                    0
                 ) AS spentTime
             FROM TBL_EDU_START TES
                      JOIN TBL_EDU TE
                           ON TES.EDU_ID = TE.ID
                      JOIN TBL_EDU_WORD_MAP TEWM
                           ON TE.ID = TEWM.EDU_ID
                      LEFT JOIN TBL_WORD_STUDY TWS
                                ON TEWM.ID = TWS.EDU_WORD_MAP_ID
                                    AND TWS.USER_ID = TES.USER_ID
             WHERE TES.USER_ID = #{userId}
               AND TE.EDU_IS_DELETED = 0
               AND TES.EDU_START_IS_COMPLETED = 1
             GROUP BY TES.ID, TES.EDU_ID, TES.EDU_START_AT

             UNION ALL

             SELECT
                 TQA.QUIZ_ATTEMPT_SCORE AS correctCount,
                 TQA.QUIZ_ATTEMPT_TOTAL_COUNT AS totalCount,
                 TQA.QUIZ_ATTEMPT_TIME AS spentTime
             FROM TBL_QUIZ_ATTEMPT TQA
             WHERE TQA.USER_ID = #{userId}
    ) SUMMARY_DATA
    </select>

</mapper>